.header {
    height: 70px;
    width: 100%;
    background-color: #005398;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
}

.header__links {
    display: flex;
    gap: 50px;
}

.header__links > a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition-duration: 0.3s;
}

.header__links > a:hover {
    color: #005398;
    background-color: #fff;
}

.header__links > a.active {
    color: #005398;
    background-color: #fff;
}

@media (max-width: 768px) {
    .header__links {
        gap: 20px;
    }

    .header__links > a {
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .header__links {
        gap: 10px;
    }

    .header__links > a {
        font-size: 12px;
    }
}